@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F6F6C9;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  color: #06283D;
  font-size: 32px;
  font-family: 'Fredoka One', cursive;
}

.subtitulo {
  color: #256D85;
  font-size: 20px;
}

.tarjetas {
  display: flex;
  gap: 10px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background:#256D85;
    padding: 45px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: white;
}

.tarjeta-de-mokepon img {
  width: 75px;
}

#boton-mascota {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background: #BAD1C2;
  border: 2px solid #4FA095;
  color: #256D85;
  font-family: 'Acme', sans-serif;
  margin-top: 30px;
}

input {
  display: none;
}

#seleccionar-ataque {
  flex-direction: column;
  align-items: center;
}

.btn_ataques {
  background-color: #256D85;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 20px;
  border: transparent;
  width: 100px;
  font-family: 'Poppins', sans-serif;
  color: white;
}

#mensajes {
  width: 280px;
  background: #BAD1C2;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#boton-reiniciar {
  border: none;
  color:#256D85;
  font-family: 'Poppins', sans-serif;
}

.ataque {
  display: grid;
  grid-template-columns: 100px 100px;
}