@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
  font-family: 'Fredoka One', cursive;
  background-color: #DFF6FF;
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  color: #06283D;
  font-size: 32px;
}

.subtitulo {
  color: #256D85;
  font-size: 20px;
}

.tarjetas {
  display: flex;
  gap: 10px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background: #11468F;
    padding: 35px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.tarjeta-de-mokepon img {
  width: 80px;
}

input {
  display: none;
}